/* 
    General Styles
*/
.colorbg {
    background-color: black;
}

.homesize {
    width: 1000px;
    height: 800px;
}

.imgNav {
    padding-left: 40%;
}

.nabvarcus {
    background-color: black !important;
    border-color: white;

}