/* 
    General Styles
*/
.colorbg {
    background-color: black;
}

.homesize {
    width: 1000px;
    height: 800px;
}

.imgNav {
    padding-left: 40%;
}

.nabvarcus {
    background-color: black !important;
    border-color: white;

}
.titulo { 
    padding: 3px;
    margin-left: 3px;
}

.cuerpo {
    margin-top: 5px;
    padding-top: 5px;
}

.contcard {
    padding-top: 5%;
    margin-top: 25px;
}
.botonescard { 
    width: auto;
    height: auto;
    padding: 2%;
    margin: auto;

}